@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css');

.info {
  width: 45%;
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
}

.candidateTable {
  width: 53%;
  display: inline-block;
  margin-left: 20px;
}

.tooltip {
  margin-right: 3px;
}

.topPadding {
  margin-top: 20px;
}
